<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../lib/vue.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>{{titulo}}</h1>
      <p>{{conteudo}}</p>

      <p>{{lado * lado /100}}</p>
      <div v-if="produto.comprado" :style="{background: produto.cor}">
        <p>{{produto.id}}</p>
        <p>{{produto.descricao}}</p>

        <p>{{produto.valor}}</p>
        <p>Comprado {{produto.comprado ?'sim':'nao'}}</p>

        <input v-model="produto.cor" type="color" />
        {{produto.cor}}
      </div>

      <a :href="produto.comprado ? href : ''">fdsaf</a>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          titulo: "Vue.js great",
          conteudo: "Este é o conteúdo",
          lado: 5,
          href: "http://www.hotmail.com",
          produto: {
            id: 1,
            descricao: "Doce de Leite",
            valor: 150.11,
            comprado: true,
            cor: "#333",
          },
        },
      });

      console.log(vm);
    </script>
  </body>
</html>
